<h1>Les sorties jeux vidéo de la semaine</h1>

<p>Bonjour,</p>

<p>Voici les jeux à venir dans les 7 prochains jours :</p>
<ul>
    {% for game in games %}
        <li>
            <strong>{{ game.title }}</strong> – sortie le {{ game.releaseDate|date('d/m/Y') }}
        </li>
    {% endfor %}
</ul>

<p>Bonne semaine et bons jeux</p>
